
Code/Calculadora NET Core/Calculadora/.vs/Calculadora/v15/Server/sqlite3/storage.ide
Code/Calculadora NET Core/Calculadora/.vs/Calculadora/v15/Server/sqlite3/storage.ide-shm
Code/Calculadora NET Core/Calculadora/.vs/Calculadora/v15/Server/sqlite3/storage.ide-wal
Code/Calculadora NET Core/Calculadora/Calculadora.DAL/bin/Debug/netcoreapp2.0/Calculadora.DAL.deps.json
*.dll
*.pdb
Code/Calculadora NET Core/Calculadora/Calculadora.DAL/bin/Debug/netcoreapp2.0/Calculadora.DAL.runtimeconfig.dev.json
Code/Calculadora NET Core/Calculadora/Calculadora.DAL/bin/Debug/netcoreapp2.0/Calculadora.DAL.runtimeconfig.json
Code/Calculadora NET Core/Calculadora/Calculadora.DAL/obj/Debug/netcoreapp2.0/Calculadora.DAL.csproj.CoreCompileInputs.cache
Code/Calculadora NET Core/Calculadora/Calculadora.DAL/obj/Debug/netcoreapp2.0/Calculadora.DAL.csproj.FileListAbsolute.txt
*.cache
Code/Calculadora NET Core/Calculadora/Calculadora.DAL/obj/project.assets.json
Code/Calculadora NET Core/Calculadora/Calculadora.Domain/bin/Debug/netcoreapp2.0/Calculadora.Domain.deps.json
Code/Calculadora NET Core/Calculadora/Calculadora.Domain/bin/Debug/netcoreapp2.0/Calculadora.Domain.runtimeconfig.json
Code/Calculadora NET Core/Calculadora/Calculadora.Domain/obj/project.assets.json
Code/Calculadora NET Core/Calculadora/Calculadora.Domain/bin/Debug/netcoreapp2.0/Calculadora.Domain.runtimeconfig.dev.json
Code/Calculadora NET Core/Calculadora/Calculadora.Simulador/obj/Debug/Calculadora.Simulador.csproj.CoreCompileInputs.cache
Code/Calculadora NET Core/Calculadora/Calculadora.Simulador/obj/Debug/Calculadora.Simulador.csproj.FileListAbsolute.txt
Code/Calculadora NET Core/Calculadora/Calculadora.Test/obj/project.assets.json
Code/Calculadora NET Core/Calculadora/Calculadora.web/bin/Debug/netcoreapp2.0/Calculadora.web.deps.json
Code/Calculadora NET Core/Calculadora/Calculadora.web/bin/Debug/netcoreapp2.0/Calculadora.web.runtimeconfig.dev.json
Code/Calculadora NET Core/Calculadora/Calculadora.web/bin/Debug/netcoreapp2.0/Calculadora.web.runtimeconfig.json
Code/Calculadora NET Core/Calculadora/Calculadora.web/obj/Debug/netcoreapp2.0/Calculadora.web.csproj.CopyComplete
Code/Calculadora NET Core/Calculadora/Calculadora.web/obj/Debug/netcoreapp2.0/Calculadora.web.csproj.CoreCompileInputs.cache
Code/Calculadora NET Core/Calculadora/Calculadora.web/obj/Debug/netcoreapp2.0/Calculadora.web.csproj.CoreCompileInputs.cache
Code/Calculadora NET Core/Calculadora/Calculadora.web/obj/Debug/netcoreapp2.0/Calculadora.web.csproj.FileListAbsolute.txt
Code/Calculadora NET Core/Calculadora/Calculadora.web/obj/project.assets.json
Code/Calculadora NET Core/Calculadora/.vs/Calculadora/v15/.suo
Code/Calculadora NET Core/Calculadora/.vs/Calculadora/v15/Server/sqlite3/storage.ide
