
Code/Calculadora NET Core/Calculadora/.vs/Calculadora/v15/Server/sqlite3/storage.ide
Code/Calculadora NET Core/Calculadora/.vs/Calculadora/v15/Server/sqlite3/storage.ide
Code/Calculadora NET Core/Calculadora/.vs/Calculadora/v15/Server/sqlite3/storage.ide
Code/Calculadora NET Core/Calculadora/.vs/Calculadora/v15/Server/sqlite3/storage.ide-shm
Code/Calculadora NET Core/Calculadora/.vs/Calculadora/v15/Server/sqlite3/storage.ide
Code/Calculadora NET Core/Calculadora/.vs/Calculadora/v15/Server/sqlite3/storage.ide-shm
Code/Calculadora NET Core/Calculadora/.vs/Calculadora/v15/Server/sqlite3/storage.ide-wal
