
@{
    ViewBag.Title = "Result";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Resultado do Cálculo</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li class="active">
                <strong>Resultado do Cálculo</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row" id="sortable-view">
        <div class="col-lg-6">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Aposentadoria por idade</h5>
                    <div class="ibox-tools">

                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <span>Idade Minima</span>
                    <small class="pull-right">100%</small>
                    <div class="progress">
                        <div style="width: 100%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="79" role="progressbar" class="progress-bar progress-bar-default">
                            60 anos e 5 meses / 60 anos
                        </div>
                    </div>
                    <span>Tempo de Contribuição</span>
                    <small class="pull-right">90%</small>
                    <div class="progress">
                        <div style="width: 90%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="90" role="progressbar" class="progress-bar progress-bar-warning">
                            32 anos e 3 meses / 36 anos
                        </div>
                    </div>
                    <span>Carência</span>
                    <small class="pull-right">95%</small>
                    <div class="progress">
                        <div style="width: 95%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="100" role="progressbar" class="progress-bar progress-bar-warning" ]>
                            30 anos / 31 anos
                        </div>
                    </div>
                    <strong>Data prevista:</strong> <label class="label label-success">01/2018</label>
                    <strong>Valor previsto:</strong> <label class="label label-success">R$ 2.054,00</label>
                    <div class="pull-right">
                        <button class="btn btn-outline btn-danger  dim btn-sm" type="button"><i class="fa fa-file-pdf-o"></i></button>
                        <button class="btn btn-outline btn-primary  dim btn-sm" type="button"><i class="fa fa-file-excel-o"></i></button>
                    </div>
                </div>
            </div>

            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Aposentadoria por tempo de contribuição</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <h5>Tempo de contribuição </h5>
                    <div class="progress">
                        <div style="width: 100%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="79" role="progressbar" class="progress-bar progress-bar-default">
                            60 anos e 5 meses / 60 anos
                        </div>
                    </div>
                    <h5>Carência</h5>
                    <div class="progress">
                        <div style="width: 95%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="100" role="progressbar" class="progress-bar progress-bar-warning" ]>
                            30 anos / 31 anos
                        </div>
                    </div>
                    <strong>Data prevista:</strong> <label class="label label-success">01/2018</label>
                    <strong>Valor previsto:</strong> <label class="label label-success">R$ 2.054,00</label>
                    <div class="pull-right">
                        <button class="btn btn-outline btn-danger  dim btn-sm" type="button"><i class="fa fa-file-pdf-o"></i></button>
                        <button class="btn btn-outline btn-primary  dim btn-sm" type="button"><i class="fa fa-file-excel-o"></i></button>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-6">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Aposentadoria por idade</h5>
                    <div class="ibox-tools">

                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <span>Idade Minima</span>
                    <small class="pull-right">100%</small>
                    <div class="progress">
                        <div style="width: 100%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="79" role="progressbar" class="progress-bar progress-bar-default">
                            60 anos e 5 meses / 60 anos
                        </div>
                    </div>
                    <span>Tempo de Contribuição</span>
                    <small class="pull-right">90%</small>
                    <div class="progress">
                        <div style="width: 90%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="90" role="progressbar" class="progress-bar progress-bar-warning">
                            32 anos e 3 meses / 36 anos
                        </div>
                    </div>
                    <span>Carência</span>
                    <small class="pull-right">95%</small>
                    <div class="progress">
                        <div style="width: 95%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="100" role="progressbar" class="progress-bar progress-bar-warning" ]>
                            30 anos / 31 anos
                        </div>
                    </div>
                    <strong>Data prevista:</strong> <label class="label label-success">01/2018</label>
                    <strong>Valor previsto:</strong> <label class="label label-success">R$ 2.054,00</label>
                    <div class="pull-right">
                        <button class="btn btn-outline btn-danger  dim btn-sm" type="button"><i class="fa fa-file-pdf-o"></i></button>
                        <button class="btn btn-outline btn-primary  dim btn-sm" type="button"><i class="fa fa-file-excel-o"></i></button>
                    </div>
                </div>
            </div>

            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Aposentadoria por tempo de contribuição</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <h5>Tempo de contribuição </h5>
                    <div class="progress">
                        <div style="width: 100%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="79" role="progressbar" class="progress-bar progress-bar-default">
                            60 anos e 5 meses / 60 anos
                        </div>
                    </div>
                    <h5>Carência</h5>
                    <div class="progress">
                        <div style="width: 95%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="100" role="progressbar" class="progress-bar progress-bar-warning" ]>
                            30 anos / 31 anos
                        </div>
                    </div>
                    <strong>Data prevista:</strong> <label class="label label-success">01/2018</label>
                    <strong>Valor previsto:</strong> <label class="label label-success">R$ 2.054,00</label>
                    <div class="pull-right">
                        <button class="btn btn-outline btn-danger  dim btn-sm" type="button"><i class="fa fa-file-pdf-o"></i></button>
                        <button class="btn btn-outline btn-primary  dim btn-sm" type="button"><i class="fa fa-file-excel-o"></i></button>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-6">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Aposentadoria por idade</h5>
                    <div class="ibox-tools">

                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <span>Idade Minima</span>
                    <small class="pull-right">100%</small>
                    <div class="progress">
                        <div style="width: 100%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="79" role="progressbar" class="progress-bar progress-bar-default">
                            60 anos e 5 meses / 60 anos
                        </div>
                    </div>
                    <span>Tempo de Contribuição</span>
                    <small class="pull-right">90%</small>
                    <div class="progress">
                        <div style="width: 90%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="90" role="progressbar" class="progress-bar progress-bar-warning">
                            32 anos e 3 meses / 36 anos
                        </div>
                    </div>
                    <span>Carência</span>
                    <small class="pull-right">95%</small>
                    <div class="progress">
                        <div style="width: 95%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="100" role="progressbar" class="progress-bar progress-bar-warning" ]>
                            30 anos / 31 anos
                        </div>
                    </div>
                    <strong>Data prevista:</strong> <label class="label label-success">01/2018</label>
                    <strong>Valor previsto:</strong> <label class="label label-success">R$ 2.054,00</label>
                    <div class="pull-right">
                        <button class="btn btn-outline btn-danger  dim btn-sm" type="button"><i class="fa fa-file-pdf-o"></i></button>
                        <button class="btn btn-outline btn-primary  dim btn-sm" type="button"><i class="fa fa-file-excel-o"></i></button>
                    </div>
                </div>
            </div>

            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Aposentadoria por tempo de contribuição</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <h5>Tempo de contribuição </h5>
                    <div class="progress">
                        <div style="width: 100%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="79" role="progressbar" class="progress-bar progress-bar-default">
                            60 anos e 5 meses / 60 anos
                        </div>
                    </div>
                    <h5>Carência</h5>
                    <div class="progress">
                        <div style="width: 95%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="100" role="progressbar" class="progress-bar progress-bar-warning" ]>
                            30 anos / 31 anos
                        </div>
                    </div>
                    <strong>Data prevista:</strong> <label class="label label-success">01/2018</label>
                    <strong>Valor previsto:</strong> <label class="label label-success">R$ 2.054,00</label>
                    <div class="pull-right">
                        <button class="btn btn-outline btn-danger  dim btn-sm" type="button"><i class="fa fa-file-pdf-o"></i></button>
                        <button class="btn btn-outline btn-primary  dim btn-sm" type="button"><i class="fa fa-file-excel-o"></i></button>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-6">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Aposentadoria por idade</h5>
                    <div class="ibox-tools">

                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <span>Idade Minima</span>
                    <small class="pull-right">100%</small>
                    <div class="progress">
                        <div style="width: 100%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="79" role="progressbar" class="progress-bar progress-bar-default">
                            60 anos e 5 meses / 60 anos
                        </div>
                    </div>
                    <span>Tempo de Contribuição</span>
                    <small class="pull-right">90%</small>
                    <div class="progress">
                        <div style="width: 90%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="90" role="progressbar" class="progress-bar progress-bar-warning">
                            32 anos e 3 meses / 36 anos
                        </div>
                    </div>
                    <span>Carência</span>
                    <small class="pull-right">95%</small>
                    <div class="progress">
                        <div style="width: 95%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="100" role="progressbar" class="progress-bar progress-bar-warning" ]>
                            30 anos / 31 anos
                        </div>
                    </div>
                    <strong>Data prevista:</strong> <label class="label label-success">01/2018</label>
                    <strong>Valor previsto:</strong> <label class="label label-success">R$ 2.054,00</label>
                    <div class="pull-right">
                        <button class="btn btn-outline btn-danger  dim btn-sm" type="button"><i class="fa fa-file-pdf-o"></i></button>
                        <button class="btn btn-outline btn-primary  dim btn-sm" type="button"><i class="fa fa-file-excel-o"></i></button>
                    </div>
                </div>
            </div>

            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Aposentadoria por tempo de contribuição</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <h5>Tempo de contribuição </h5>
                    <div class="progress">
                        <div style="width: 100%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="79" role="progressbar" class="progress-bar progress-bar-default">
                            60 anos e 5 meses / 60 anos
                        </div>
                    </div>
                    <h5>Carência</h5>
                    <div class="progress">
                        <div style="width: 95%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="100" role="progressbar" class="progress-bar progress-bar-warning" ]>
                            30 anos / 31 anos
                        </div>
                    </div>
                    <strong>Data prevista:</strong> <label class="label label-success">01/2018</label>
                    <strong>Valor previsto:</strong> <label class="label label-success">R$ 2.054,00</label>
                    <div class="pull-right">
                        <button class="btn btn-outline btn-danger  dim btn-sm" type="button"><i class="fa fa-file-pdf-o"></i></button>
                        <button class="btn btn-outline btn-primary  dim btn-sm" type="button"><i class="fa fa-file-excel-o"></i></button>
                    </div>
                </div>
            </div>

        </div>
''
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/plugins/touchPunch")
    <script type="text/javascript">
        $(document).ready(function () {

            WinMove();

        });
    </script>
}


